body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.nav-color{
  background-color: rgb(0, 62, 91);
  position: fixed;
  z-index: 5;
}

.Navlink{
  margin: 7px;
  justify-content: center;
  text-decoration: none;
  color: rgb(155, 170, 179);
}


.section{
  text-align: center;
  font-size: 3em;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.slide{
  background-size: cover;
  background-repeat: none;
}

#page1-1 {
  background-image: url("../img/1st.png");
}

#page2-1{
  background-image: url("../img/back2.jpg");
}
#page2-2{
  background-image: url("../img/back2-1.jpg");
}

#page2-3{
  background-image: url("../img/back2-1.jpg");
}

#page3-1{
  background-image: url("../img/back2-1.jpg");
}

.fp-section {
  text-align: center;
}

.fp-watermark{
  display: none;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}

.actions {
  list-style-type: none;
}
.actions button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 7px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.actions button:hover {
  background: #fff;
  color: #35495e;
}


.fp-watermark{
  display: none;
}

